.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App.HideDataPane .voyager > .SplitPane > .Pane1 {
  display: none;
}

.App.HideEncodingPane .voyager > .SplitPane > .Pane2 > .SplitPane > .Pane1 {
  display: none;
}

.App .voyager > .load-data-pane__load-data-pane {
  visibility: hidden;
}

.App .voyager > .load-data-pane__load-data-pane:after {
  content: "Please load a dataset from the menu.";
  display: block;
  visibility: visible;
}

.App .Polaris-TopBar__NavigationIcon {
  display: inherit;
}

.App .Polaris-TopBar__NavigationIcon > .Polaris-Icon {
  fill: #637381;
}
